* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
}

.header {
    text-transform: uppercase;
    font-family: "Pathway Gothic One";
    margin-top: 46px;
}

.menu {
    position: relative;
    vertical-align: middle;
}

.menu-item {
    display: inline-block;
    font-size: 28px;
    margin-right: 58px;
    color: #fff;
}

.submenu {
    display: none;
    list-style: none;
    position: absolute;
    font-size: 20px;
    line-height: 1.2;
    height: 84px;
    width: 66px;
    border: 1px solid #fff;
    border-radius: 2px;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    padding-top: 10px;
    left: 102px;
}

.submenu::before {
    content: '';
    position: absolute;
    border: 3px solid transparent;
    border-bottom: 4px solid #fff;
    top: -8px;
}

.menu-item:hover {
    color: #263555;
}

.menu-item:hover>.submenu {
    display: block;
    color: #6B7488;
}

.logo {
    list-style: none;
    display: inline-block;
    border: 1px solid #fff;
    height: 138px;
    width: 138px;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
    color: #263555;
    font-size: 60px;
    font-family: "Dorsa";
    text-transform: uppercase;
    line-height: 138px;
    margin-right: 54px;
}

.menu:first-child {
    margin-left: 100px;
}

.gallery {
    background-color: #fff;
    padding: 37px 60px 155px 60px;
    margin-top: 70px;
}

.slider {
    width: 902px;
    height: 578px;
    background-color: #000;
    margin: 0 auto;
    position: relative;
}

.slider-img1 {
    position: absolute;
    z-index: 5;
}

.title_1 {
    position: absolute;
    font-family: "Pathway Gothic One";
    font-size: 22px;
    text-transform: uppercase;
    line-height: 1.2;
    color: #263555;
    background-color: #fff;
    width: 225px;
    height: 60px;
    padding: 22px 16px;
    top: 218px;
    z-index: 7;
}

.title_2 {
    position: absolute;
    font-family: "Pathway Gothic One";
    font-size: 34px;
    text-transform: uppercase;
    line-height: 1.2;
    background-color: #38AFE5;
    color: #fff;
    width: 276px;
    height: 60px;
    padding: 16px 12px;
    top: 276px;
    z-index: 6;
}

.slider_button {
    position: relative;
    width: 90px;
    height: 90px;
    background-color: #38AFE5;
    border-radius: 50%;
    left: 40px;
    top: 450px;
    z-index: 6;
}

.arrow_left {
    position: absolute;
    top: 37px;
    left: 25px;
}

.arrow_right {
    position: absolute;
    top: 37px;
    right: 25px;
}

h2 {
    font-family: "Pathway Gothic One";
    color: #263555;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1.2;
    margin-top: 56px;
}

.destination {
    margin-top: 57px;
    position: relative;
    width: 288px;
    height: 270px;
    background-color: #000;
    display: inline-block;
    margin-right: 16px;
}

.destination:last-child {
    margin-right: 0px;
}

.destination_img {
    position: absolute;
}

.destinatoin_description {
    display: none;
    position: absolute;
    width: 146px;
    background-color: #193149;
    font-family: "arial";
    padding: 15px 10px;
    height: 270px;
    text-align: center;
}

.destination:hover .destinatoin_description {
    display: block;
}

span {
    font-family: "Open Sans";
    color: #E0E4E7;
    font-size: 22px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
}

.destinatoin_description p {
    position: absolute;
    font-size: 10px;
    font-family: "Arial";
    line-height: 1.6;
    color: #CBC6C6;
    margin-top: 20px;
}

.destinatoin_description a {
    position: absolute;
    display: block;
    text-decoration: none;
    width: 60px;
    height: 20px;
    border-radius: 4px;
    font-family: "Arial";
    background-color: #FAF6FB;
    font-size: 12px;
    color: #000;
    bottom: 19px;
    right: 12px;
    line-height: 20px;
    text-align: center;
}

.to_top {
    position: fixed;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #38AFE5;
    right: 100px;
    bottom: 100px;
}

.to_top img {
    position: absolute;
    top: 6px;
    left: 7px;
}

footer {
    background-color: #30455B;
    height: 130px;
    margin-top: 416px;
    margin-bottom: 134px;
}