* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../image/BG.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 230px;
    padding-bottom: 268px;
}
.wrapper {
    width: 1024px;
    font-family: "Arial";
    font-size: 13px;
    line-height: 1.462;
    color: #4C4F4F;
    background-color: #fff;
    margin: 0 auto;
    padding-bottom: 88px;
}
.inner-wrapper1 {
    margin-left: 54px;
    margin-right: 54px;
    padding-top: 116px;
    margin-bottom: 54px;
}
.profile {
    display: inline-block;
    width: 638px;
    vertical-align: top;
    margin-right: 50px;
}
.principles {
    display: inline-block;
    width: 210px;
    vertical-align: top;
}
.img-plane {
    width: 360px;
    height: 280px;
    float: left;
    margin-right: 26px;
    margin-bottom: 24px;
}
h3 {
    margin-bottom: 18px;
    color: #173255;
    font-size: 15px;
}
/*создание списка со счетчиком*/
h2 {
    font-family: "Pathway Gothic One";
    font-size: 32px;
    color: #173255;
    margin-bottom: 48px;
}
.list-item {
    list-style: none;
}
.list {
    counter-reset: list;
    position: relative;
    width: 200px;
    margin-left: 30px;
}
.list-item::before {
    display: inline-block;
    counter-increment: list;
    content: counter(list);
    background-color: #00B0E8;
    padding: 10px 14px;
    border-radius: 50%;
    position: absolute;
    left: -45px;
}
.article {
    margin-top: 20px;
}
.horizontal-rule {
    border-top: 2px solid #E0DCDC;
    width: 900px;
    margin: 0 auto;
}
.inner-wrapper2 {
    margin-top: 58px;
    margin-left: 54px;
    margin-right: 54px;
}
.offer {
    display: inline-block;
    width: 638px;
    vertical-align: top;
    margin-right: 50px;
}
ul {
    columns: 2;
    list-style-type: none;
    margin-top: 20px;
    margin-left: 40px;
    line-height: 2.5;
    position: relative
}
.unordered_list::before {
    content: url(../image/arrow.png);
    margin-left: -23px;
    position: absolute;
}
.quote {
    display: inline-block;
    width: 210px;
    vertical-align: top;
    position: relative
}
blockquote::before {
    content: '\00201C';
}
blockquote::after {
    content: '\00201D';
}
blockquote {
    margin: 22px;
    font-size: 15px;
    color: #173255;
}
.block {
    border: 1px solid #E1DDDD;
    border-radius: 5px;
    /* padding: 20px; */
    position: absolute;
    width: 210px;
    height: 192px;
    background-color: #FDFAFA;
}
.block::before,
.block::after {
    content: '';
    position: absolute;
    left: 100px;
    bottom: -35px;
    border: 10px solid transparent;
    border-top: 25px solid #E1DDDD;
}
.block::after {
    border-top: 25px solid #FDFAFA;
    bottom: -33px;
}
.autor {
    position: absolute;
    display: inline-block;
    text-align: center;
    bottom: -300px;
}
span {
    font-size: 16px;
    color: #374865;
}
.autor p {
    margin-top: 23px;
}
